body {
    background-image: url(../images/background/background.jpg);
    /* background-repeat: no-repeat; */
}


/* ====================NAVBAR================== */
.navbar {
    position: absolute;
    width: 100%;
    height: 58px;
    top: 0;
    left: 0;

}


.navbar-text {
    position: absolute;
    color: white;
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    height: 23px;
    width: 200px;
    padding-top: 20px;
    margin-right: 200px;
}

.cursor {
    cursor: default;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

.navbar-line {
    padding-left: 30px;
}

.navbar-logo {
    font-family: Ubuntu;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 152px;
}

.icons {
    margin-left: 65%;
}

li:nth-child(5) {
    margin-left: 64%;
}


/* ============FORM================ */

form {
    display: block;
    margin-top: 108px;
    margin-left: auto;
    margin-right: auto;
    height: 650px;
    width: 444px;
    border-radius: 0px;
    background-color: white;
}

/* ==============FORM-TITLE=========== */

.form-line {
    display: inline-block;
}

.form-title {
    font-family: Ubuntu;
    font-weight: 400;
}

.form-title span:nth-child(1) {
    font-size: 20px;
    color: #434343;
}

.form-title span:nth-child(2) {
    font-size: 14px;
    padding-left: 232px;
    cursor: pointer;

}

.form-title a {
    text-decoration: none;
    color: #3CB878;
}

.form-block {
    margin: 29px 23px 0px 0px;
}

/* ===========FORM-BUTTON=========== */


.form-button {}

.form-button button {
    color: white;
    width: 168px;
    height: 48px;
    border: 0;
    border-radius: 3px;
    font-family: Ubuntu;
    font-size: 16px;
}

.form-button button:nth-child(1) {
    margin: 15px 10px 31px 45px;
    background: #305DB8;
}

.form-button button:nth-child(2) {
    background: #DF4A32;
    margin-bottom: 20px;
}



/* ===========FACEBOOK========= */

.facebook img:nth-child(1) {
    position: absolute;
    margin: -3px 0px 0px -34px;
}

.facebook img:nth-child(2) {
    position: absolute;
    margin: -5px 0px 0px -5px;
}

.facebook span {
    margin-left: 13px;
}


/* =============GOOGLE============ */

.google img:nth-child(1) {
    position: absolute;
    margin: 0px 0px 0px -40px;
}

.google img:nth-child(2) {
    position: absolute;
    margin: -4px 0px 0px 0px;
}

.google span {
    margin-left: 13px;
}

/* ============OR============= */

.or {
    text-align: center;
    color: #848484;
    margin-top: -20px;
}

/* ============INPUT======== */

.form-input {}

.form-input input {
    width: 324px;
    height: 46px;
    padding-left: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    /* box-shadow: 0 0 8px -3px #888; */
}

/* =========CHECKBOX============ */



.container {
    display: block;
    position: relative;
    margin: 0px 0px 12px 50px;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    color: #434343;
    font-family: Ubuntu;
}

.container span {
    color: #49bc80;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid #F2F2F2
}

/* .container input:checked~.checkmark {
    background-color: white;
} */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    position: absolute;
    margin: -5px 0px 0px 5px;
    width: 8px;
    height: 20px;
    border: solid #3CB878;
    border-width: 0px 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* ==================SUBMIT================= */


.form-subm button{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 344px;
    height: 46px;
    background: #3CB878 80%;
    border-radius: 4px;
    border: none;
    color: white;
}